label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: whitesmoke;
  padding: 30px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border-color: silver;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.navBarItem {
  margin: 10px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-brand-card {
  width: 100px;
  height: 100px;

}
.logout-icon {
}

#collasible-nav-dropdown {
  color : black;
  font-size: large;
  font-weight:lighter;
  font-family: Cambria;
}
#footer-paragraph {
  color : white;
  font-size: large;
  font-weight:lighter;
  font-family: Cambria; 
}
#log-out {
  color : black;
  font-size: large;
  font-weight:lighter;
  font-family: Cambria;
}

#collasible-nav-dropdown-item {
font-weight:normal;
font-size: smaller;
font-family: Cambria;
font-weight:lighter;
color : black;
}